<%= form_for(@whitelist_url) do |f| %>
  <% if @whitelist_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@whitelist_url.errors.count, "error") %> prohibited this whitelist_url from being saved:</h2>

      <ul>
      <% @whitelist_url.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <%= label_tag :domain, "URLs", :class => "col-sm-2 control-label" %>
  <div class="col-sm-6">
    <%= text_area_tag :domain, nil, cols: 20, rows: 20, class: "form-control" %>
  </div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
