<h1>Listing reports</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Site URL</th>
      <th>Creator's email</th>
      <th>Created</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.name %></td>
        <td><%= report.site_url %></td>
        <td><%= report.creator_email %></td>
        <td><%= report.created_at.strftime("%d %b, %Y") %></td>
        <td><%= link_to 'View', report %></td>
        <td><%= link_to "Export CSV", report_path(report, format: "csv"), :class => "btn btn-success btn-sm" %></td>
        <td><%= link_to 'DELETE', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
